__pycache__/
.cache
.envrc
.idea/
.mcp.json
.pytest_cache
.venv
*.egg-info
*.py[oc]
/src/satvu_api_sdk/services/*
!/src/satvu_api_sdk/services/conftest.py
build/
dist/
pytest-coverage.txt
pytest.xml
tasks-*.md
wheels/
.claude/
.hypothesis
