__pycache__/
.cache
.envrc
.idea/
.mcp.json
.pytest_cache
.venv
*.egg-info
*.py[oc]
/src/satvu/services/**/test_schemas.py
/src/satvu/services/**/__pycache__/
build/
dist/
pytest-coverage.txt
pytest.xml
tasks-*.md
wheels/
.claude/
.DS_Store
.dagger/src/dagger_gen.py
.hypothesis
