{% from "endpoint_macros.py.jinja" import header_params, cookie_params,
    client, kwargs, parse_response, docstring, body_to_kwarg %}

{# The all the kwargs passed into an endpoint (and variants thereof)) #}
{% macro arguments(endpoint) %}
{# path parameters #}
{% for parameter in endpoint.path_parameters %}
{{ parameter.to_string() }},
{%- endfor -%}
{# query parameters #}
{%- for parameter in endpoint.query_parameters -%}
{{ parameter.to_string() }},
{%- endfor -%}
{# Any allowed bodies #}
{%- if endpoint.bodies | length -%}
**kwargs: Unpack[{% for body in endpoint.bodies %}{{ body.prop.get_type_string() }} {% if not loop.last %}|{% endif %}{% endfor %}]
{% endif %}
{% endmacro %}

{% macro url(endpoint) %}
"{{ endpoint.path }}".format(
        {%- for parameter in endpoint.path_parameters -%}
        {{parameter.python_name}}={{parameter.python_name}}
        {%- if not loop.last -%}
        ,
        {%- endif -%}
        {%- endfor -%}
        )
{% endmacro %}

{% macro query_params(endpoint) %}
{% if endpoint.query_parameters %}
params: dict[str, Any] = {}
{% for property in endpoint.query_parameters %}
    {% set destination = property.python_name %}
    {% import "property_templates/" + property.template as prop_template %}
    {% if prop_template.transform %}
        {% set destination = "json_" + property.python_name %}
{{ prop_template.transform(property, property.python_name, destination) }}
    {% endif %}
    {% if not property.json_is_dict %}
	params["{{ property.name }}"] = {{ destination }}
    {% else %}
{{ guarded_statement(property, destination, "params.update(" + destination + ")") }}
    {% endif %}

{% endfor %}
params = {k: v for k, v in params.items() if v is not UNSET and v is not None}
{% endif %}
{% endmacro %}

{% macro make_request(endpoint) %}
{% filter indent(width=8) %}
{%- if endpoint.query_parameters -%}
{{ query_params(endpoint) }}
{%- endif -%}
response = self.make_request(method="{{ endpoint.method }}", url={{ url(endpoint) }},
{%- if endpoint.bodies | length -%}
json=kwargs,
{%- endif -%}
{%- if endpoint.query_parameters -%}
params=params,
{%- endif -%}
)
{% endfilter %}
{% endmacro %}

from collections.abc import Callable
from typing import Unpack

from satvu_api_sdk.core import SDKClient

{% for endpoint in endpoints %}
{% for relative in endpoint.relative_imports | sort %}
{{ relative }}
{% endfor %}
{% endfor %}

class Service(SDKClient):
	base_path = ""

	def __init__(self, get_token: Callable[[], str], contract_id: str, env: str | None):
		self.contract_id = contract_id
		super().__init__(env=env, get_token=get_token, contract_id=contract_id)

	{% for endpoint in endpoints %}
	{% set return_string = endpoint.responses[0].prop.get_type_string(quoted=False) %}
	def {{ endpoint.method }}_{{ endpoint.name }}(self, {{ arguments(endpoint) }}) -> {{ return_string }}:
		{{ make_request(endpoint) }}
		return {{ return_string }}(**response.json())

	{% endfor %}
